$theme-colors: (
  "purple":     #6f42c1,
  "dark": #000,
  "white": #fff,
  "success":    #2b971c,
  "warning":    #ffc107,
  "danger":     #dc3545,
  "gray": #4e4e4e
);

@font-face {
  font-family: Circular;
  src: url(../fonts/Circular/circular.ttf)
}

$font-family-base: Circular;


$btn-padding-y-lg: 15px;       
$btn-padding-x-lg: 45px;    
$btn-font-size-lg: 14px;


$offcanvas-bg-color: #000;
$offcanvas-color: #fff;
$offcanvas-horizontal-width: 300px;

$form-check-input-focus-box-shadow: 0 0 0 0.25rem rgb(111, 66, 193, 30%);
$form-check-input-checked-bg-color:#6f42c1;

$input-focus-border-color:  #9e77e3;            
$input-focus-box-shadow: 0 0 0 0.25rem rgb(111, 66, 193, 30%);

$dropdown-bg: #282828;
$dropdown-link-color:#fff;
$dropdown-link-hover-color:#fff;
$dropdown-link-hover-bg: rgba(255,255,255,.1);
$dropdown-border-color: rgb(48, 47, 47);
$dropdown-link-active-bg: rgba(255, 255, 255, 0.205);
$dropdown-box-shadow: 1px 2px 3px 1px #0000004d;

$form-range-thumb-bg: #6f42c1;